body{
  margin: 0;
  background-color: rgba(1, 13 , 41, 1);
  /* 基本文字样式 */
  line-height: 1.25;
  font-size: 16px;
  color: rgba(145, 95, 35, 1);
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}
/* 滚动条只用设置父元素，悬停时滚动条显示 */
*::-webkit-scrollbar{
  width:5px;
  height: 5px;
}
*::-webkit-scrollbar-track-piece{
  background-color: transparent;
}
*::-webkit-scrollbar-corner{
  display: none;
}
*::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color:rgba(17, 193, 199, 0.5);
  transition: all 2s ease-in-out;
}
*:hover::-webkit-scrollbar-thumb{
  background-color: rgba(17, 193, 199, 1);
}

/* 统一盒子样式 */
.boxSet{
  box-sizing: border-box;
  padding: 0.8rem;
  box-shadow: inset 0 0 1rem 0.5rem rgba(1, 32, 123, 1);
  overflow:scroll;
  text-align: center;
}

/* 图标统一样式 */
.iconfont{
  line-height: 0;
  color: inherit;
  font-size: 2.5rem;
}
/* 小标题样式 */
h2{
  margin: 0;
  text-align: left;
  font-size: 1rem;
}
/* 小标题前的圆形标记 */
h2::before{
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  content: '';
  background-color: #11c1c7;
}

/* 二-3 整体布局样式 */
#content {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  /* 网格式布局：2*4 = 8 */
  display: grid;
  grid: repeat(2,1fr) / repeat(4,1fr);
  gap: 10px;
  grid-gap: 10px;
  grid-template-areas:"a b b b""c d d e";
  z-index: -1;
}
#wind{
  grid-area: a;
}
#now{
  grid-area: b;
}
#riseSet{
  grid-area: c;
}
#daysTemp{
  grid-area: d;
}
#rain{
  grid-area: e;
}

/* 实时风向图 */
#wind{
  min-width: 250px;
  width: auto;
}
#windChart{
  margin: 0.5rem auto;
  width: 100%;
  height: 90%;
}

/* 二-3.2 实时天气容器样式 */
/* 最外层容器样式 */
#container{
  width: 100%;
  height: 100%;
  display: grid;
  grid:repeat(2,1fr) / 2fr 5fr;
  grid-template-areas: "a b b""a c c";
  align-items: center;
}
/* 概述框样式，内含地名、实时温度、最高温/最低温、实时天气、空气质量 */
#brief{
  grid-area: a;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
/* 实时温度数字样式 */
#curTemp{
  margin: 0;
  /* 实时温度数字放大 */
  font-size: 5rem;
  color:#000;
  text-shadow:0px 0px 0.8rem rgba(145, 95, 35, 1);
}
/* 最低温度数字样式 */
#lowTemp{
  color:rgba(145, 95, 35, 0.6)
}
/* 分项内容容器样式，内含3个分项 */
#indexContainer{
  grid-area: b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
}
/* 分项中的数据样式 */
.white{
  color: rgba(238,247,242,1);
}
/* 四角边框样式 */
.corner{
  background:
    linear-gradient(to left, #11c1c7, #11c1c7) left top no-repeat,
    linear-gradient(to bottom, #11c1c7, #11c1c7) left top no-repeat,
    linear-gradient(to left, #11c1c7, #11c1c7) right top no-repeat,
    linear-gradient(to bottom, #11c1c7, #11c1c7) right top no-repeat,
    linear-gradient(to left, #11c1c7, #11c1c7) left bottom no-repeat,
    linear-gradient(to bottom, #11c1c7, #11c1c7) left bottom no-repeat,
    linear-gradient(to left, #11c1c7, #11c1c7) right bottom no-repeat,
    linear-gradient(to left, #11c1c7, #11c1c7) right bottom no-repeat;
    background-size: 0.3em 2em, 2em 0.3em, 0.3em 2em, 2em 0.3em;
  box-sizing: border-box;
  padding: 1em;
  width: 100px;
  height: 100px;
}

/* 生活贴士框样式及文字缩进 */
#point{
  grid-area: c;
  margin-top: 10px;
  text-align: justify;
}
.indent{
  text-indent: 2rem;
}

/* 二-3.5 7日气温折线图 */
#daysTemp{
  width: auto;
}
#daysTempChart{
  margin: 0.5rem auto;
  width: 100%;
  height: 90%;
  overflow-x: hidden;
}

/* 四、大、小尺寸适配 */
@media screen and (max-width:1400px) {
  body{
    font-size: 14px;
    line-height: 1.25;
  }
  .boxSet{
    padding: 1rem;
  }
}
/* 适配普通笔记本 */
@media screen and (min-width:1000px) and (max-width:1400px) {
  /* 今日天气-简述 */
  #brief > p{
    margin: 5px 0;
  }
}
/* 适配一般手机屏幕 */
@media screen and (max-width:800px) {
  #content{
    height: 300%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
  }
  /* 实时天气 */
  #now{
    height: 900px;
    flex-grow: 2;
  }
  /* 实时天气容器 */
  #container{
    grid:3fr;
    grid-template-areas: "a a a""b b b""c c c";
  }
  /* 实时天气-今日天气简述 */
  #brief > p{
    margin: 5px 0;
  }
  #wind,#daysTemp{
    height: 900px;
  }
  #daysTempChart{
    width: 600px;
  }
}
